p {
  /* left, center, right, justify */
  text-align: justify;

  letter-spacing: 1em;
  word-spacing: 100px;
  line-height: 1.5em;
}

ul {
  list-style: "🧉 ";
}

ul > li:first-child {
  list-style: circle;
}
